## PODSTAWY

In [1]:
#dodawanie
3 + 7

10

In [2]:
#odejmowanie
2 - 7

-5

In [3]:
#mnożenie
4 * 6

24

In [4]:
#dzielenie
9 / 3

3.0

In [6]:
#potęgowanie
8**2

64

In [21]:
#zapisujemy wartość do zmiennej
x = 10

In [22]:
rocznik = 1991

In [23]:
#wyświetl mi zawartość zmiennej rocznik
print(rocznik)

1991

In [24]:
#wyświetl mi zawartość zmiennej rocznik - druga opcja w jupyter notebooku
rocznik

1991

In [25]:
teraz = 2017

In [26]:
ile_lat = teraz - rocznik

In [27]:
ile_lat

26

In [28]:
#z jakim rodzajem zmiennej mamy do czynienia? int - integer - liczby całkowite
type(ile_lat)

int

In [29]:
zarobki_biednego_studenta = 5.50

In [30]:
# float - liczby rzeczywiste
type(zarobki_biednego_studenta)

float

In [31]:
marne_zarobki = True

In [32]:
# bool - True/False (Prawda/Fałsz)
type(marne_zarobki)

bool

In [34]:
werdykt = 'To są marne zarobki.'

In [35]:
# str - string - tekst
type(werdykt)

str

In [41]:
podwojny_werdykt = werdykt + werdykt

In [42]:
podwojny_werdykt

'To są marne zarobki.To są marne zarobki.'

In [43]:
potrojny_werdykt = werdykt * 3

In [44]:
potrojny_werdykt

'To są marne zarobki.To są marne zarobki.To są marne zarobki.'

In [49]:
rocznik

1991

In [50]:
str(rocznik)

'1991'

In [73]:
print('Urodziłem się w' + str(rocznik) + 'ale zarabiam na rękę' + str(zarobki_biednego_studenta))

Urodziłem się w1991ale zarabiam na rękę5.5

In [74]:
print('Urodziłem się w', str(rocznik), 'ale zarabiam na rękę', str(zarobki_biednego_studenta))

Urodziłem się w 1991 ale zarabiam na rękę 5.5

In [78]:
print('Niby jestem stary. Urodziłem się w', str(rocznik),
      'i mam', str(ile_lat), 'lat,', 'ale wciąż zarabiam marne', str(zarobki_biednego_studenta), 'na rękę.', werdykt)

Niby jestem stary. Urodziłem się w 1991 i mam 26 lat, ale wciąż zarabiam marne 5.5 na rękę. To są marne zarobki.

In [79]:
print('Niby jestem stary. Urodziłem się w', str(rocznik),
      'i mam', str(ile_lat), 'lat,', 'ale wciąż zarabiam marne', str(zarobki_biednego_studenta), 'na rękę.', werdykt,
      sep=' DINOZAUR ')

Niby jestem stary. Urodziłem się w DINOZAUR 1991 DINOZAUR i mam DINOZAUR 26 DINOZAUR lat, DINOZAUR ale wciąż zarabiam marne DINOZAUR 5.5 DINOZAUR na rękę. DINOZAUR To są marne zarobki.

In [90]:
monolog = 'Niby jestem stary. Urodziłem się w', str(rocznik), 'i mam', str(ile_lat), 'lat,', 'ale wciąż zarabiam marne', str(zarobki_biednego_studenta), 'na rękę.', werdykt

In [91]:
monolog

('Niby jestem stary. Urodziłem się w',
 '1991',
 'i mam',
 '26',
 'lat,',
 'ale wciąż zarabiam marne',
 '5.5',
 'na rękę.',
 'To są marne zarobki.')

In [92]:
# krotka - uporządkowany ciąg wartości
type(monolog)

tuple

In [102]:
monolog2 = 'Niby jestem stary. Urodziłem się w' + str(rocznik) + 'i mam' + str(ile_lat)+ 'lat,' + 'ale wciąż zarabiam marne'+ str(zarobki_biednego_studenta)+ 'na rękę.'+ werdykt

In [103]:
monolog2

'Niby jestem stary. Urodziłem się w1991i mam26lat,ale wciąż zarabiam marne5.5na rękę.To są marne zarobki.'

In [113]:
monolog3 = 'Niby jestem stary. Urodziłem się w' + str(rocznik)\
+ 'i mam' + str(ile_lat)+ 'lat,' + 'ale wciąż zarabiam marne'\
+ str(zarobki_biednego_studenta)+ 'na rękę.'+ werdykt

In [115]:
monolog3

'Niby jestem stary. Urodziłem się w1991i mam26lat,ale wciąż zarabiam marne5.5na rękę.To są marne zarobki.'

In [116]:
wiekinfo = 'Mam {} lat.'.format(ile_lat)

In [117]:
wiekinfo

'Mam 26 lat.'

In [121]:
monolog_idealny = 'Niby jestem stary. \
Urodziłem się w {} i mam {} lat, \
ale wciąż zarabiam marne {} na rękę. {}'.format(rocznik, ile_lat, zarobki_biednego_studenta, werdykt)

In [122]:
monolog_idealny

'Niby jestem stary. Urodziłem się w 1991 i mam 26 lat, ale wciąż zarabiam marne 5.5 na rękę. To są marne zarobki.'

In [123]:
nr_id = '300'

In [124]:
type(nr_id)

str

In [126]:
poprawne_id = int(nr_id)

In [132]:
poprawne_id

300

In [127]:
type(poprawne_id)

int

In [128]:
pkt = '30.875'

In [129]:
type(pkt)

str

In [130]:
poprawne_pkt = float(pkt)

In [131]:
poprawne_pkt

30.875

In [133]:
type(poprawne_pkt)

float

## LISTY

In [134]:
[]

[]

In [135]:
list()

[]

In [136]:
moja_lista = ['Samsung', 'Huawei', 'Xiaomi']

In [137]:
moja_lista

['Samsung', 'Huawei', 'Xiaomi']

In [143]:
aj = 'Apple'

In [144]:
moja_lista2 = ['Samsung', 'Huawei', 'Xiaomi', aj]

In [145]:
moja_lista2

['Samsung', 'Huawei', 'Xiaomi', 'Apple']

In [146]:
niemoja_lista = ['Polonez', 'Trabant', 'Warszawa']

In [147]:
lista = moja_lista2 + niemoja_lista

In [148]:
lista

['Samsung', 'Huawei', 'Xiaomi', 'Apple', 'Polonez', 'Trabant', 'Warszawa']